.general
{
  border: 1px solid black;
  margin: auto;
  height: 1350;
  padding: 10 10;
  width: 650px;
  font-family: sans-serif;
  background-image: url(images/font7.png);
}
table
{
  border-collapse: collapse;
}
td
{
  border: 1px solid black;
}
.texte
{
    color : transparent;
}

.texte:hover
{
    color : grey;
}
.test:hover
{
    font-size: 110%;
    color : blue
}
body
{
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
.menu
{
  float: left;
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}

button{
  width: 150px;
  border: 1px solid black;
  background: #6d9137;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

button:hover{
  background: black;
  color: orange;
  border-radius: 5px;
}
h1
{
  text-align: center;
  text-decoration: underline;
}
