body
{
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
.page
{
  background-image: url(images/font7.png);
  border: 1px solid black;
  margin: auto;
  padding: 10px 10px;
  height: 100%;
  width: 650px;
}
.foot
{
  text-align: right;
}

ul
{
  list-style-type: none;
}
h1
{
  text-decoration: underline;
  text-align: center;
}
.menu
{
  float: left;
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}

button{
  width: 150px;
  border: 1px solid black;
  background: #6d9137;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

button:hover{
  background: black;
  color: orange;
  border-radius: 5px;
}
