.general
{
  border: 1px solid black;
  margin: auto;
  padding: 10px 10px;
  height: 100%;
  width: 650px;
  font-family: sans-serif;
  background-image: url(images/font7.png);
  background-size: contain;


}
body
{
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
h1
{
  text-align: center;
  margin-bottom: 35px;
  font-family: New Century Schoolbook;
  background-image: url(images/font6.jpeg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-decoration: underline;

}
.video
{
  margin-left: 270px;
}
#LiensUtiles
{
  margin-left:400px;
  margin-top: -115px;
  margin-bottom: 50px;
}
#LiensUtiles > a
{
  font-size: 12px;
}
#LiensUtiles > h3
{
  background-image: url(images/font3.jpeg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: New Century Schoolbook;
}
#Ressources
{
  margin-left: 70px;
  margin-top: 50px;
}
#Ressources > h3
{
  background-image: url(images/font3.jpeg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: New Century Schoolbook;
}
#Ressources > a
{
  font-size: 12px;
}
table
{
  font-size: 13px;
}

h4
{
  text-align: center;
  background-image: url(images/font3.jpeg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: New Century Schoolbook;
  font-weight: 800;
  font-size: 20px;
}
.partie1 > p
{
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  background-image: url(images/font8.jpg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: New Century Schoolbook;
  font-weight: 600;
}
.partie1 > h5
{
  background-image: url(images/font6.jpeg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: New Century Schoolbook;
  font-weight: 900;
  font-size: 15px;
}
.partie2 > p
{
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  background-image: url(images/font8.jpg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: New Century Schoolbook;
  font-weight: 600;
}
.partie2 > h5
{
  background-image: url(images/font6.jpeg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: New Century Schoolbook;
  font-weight: 900;
  font-size: 15px;
}
.partie_2
{
  position: absolute;
  margin-top: -110px;
  margin-left:300px;
}
.linux1
{
  width: 250px;
  margin-left: -400px;
}
.linux1:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(45%);
}
.linux2
{
  width: 250px;
  margin-left: 400px;
}
.linux2:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(-65%);
}
.partie_3
{
  position: absolute;
  margin-top: -160px;
  font-weight: normal;
  font-size: 10px;
  margin-left:25px;
}
.linux3
{
  width:250px;
  margin-left: -400px;
}
.linux3:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(45%);
}
.partie_4
{
  position: absolute;
  margin-top: -130px;
  font-weight: normal;
  font-size: 10px;
  margin-left:300px;
}
.linux4
{
  width: 250px;
  margin-left: 400px;
}
.linux4:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(-65%);
}
.partie_5
{
  position: absolute;
  margin-top: -130px;
  font-weight: normal;
  font-size: 10px;
  margin-left:25px;
}
.linux5
{
  width: 250px;
  margin-left: -400px;
}
.linux5:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(45%);
}
.partie_6
{
  position: absolute;
  margin-top: -130px;
  font-weight: normal;
  font-size: 10px;
  margin-left:300px;
}
.linux6
{
  width: 250px;
  margin-left: 400px;
}
.linux6:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(-65%);
}
.partie_7
{
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  margin-top: -110px;
  margin-left:25px;
}
.linux7
{
  width: 250px;
  margin-left: -400px;
}
.linux7:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(45%);
}
.partie_8
{
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  margin-top: -130px;
  margin-left:300px;
}
.linux8
{
  width: 250px;
  margin-left: 400px;
}
.linux8:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(-65%);
}
.partie_9
{
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  margin-top: -130px;
  margin-left:25px;
}
.linux10
{
  width: 250px;
  margin-left: -400px;
  margin-top: 5px;
}
.linux10:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(45%);
}
.partie_10
{
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  margin-top: -160px;
  margin-left:300px;
}
.linux11
{
  width: 250px;
  margin-left: 400px;
}
.linux11:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(-65%);
}
.partie_11
{
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  margin-top: -110px;
  margin-left:25px;
}
.linux12
{
  width: 250px;
  margin-left: -400px;
}
.linux12:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(45%);
}
.partie_12
{
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  margin-top: -140px;
  margin-left:300px;
}
.linux13
{
  width: 250px;
  margin-left: 400px;
}
.linux13:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(-65%);
}
.partie_13
{
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  margin-top: -120px;
  margin-left:25px;
}
.linux14
{
  width: 250px;
  margin-left: -400px;
}
.linux14:hover
{
width:70%;
height:70%;
position: relative;
transform: translateX(45%);
}
.partie_14
{
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  margin-top: -150px;
  margin-left:300px;
}

.menu
{
  float: left;
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}

button{
  width: 150px;
  border: 1px solid black;
  background: #6d9137;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

button:hover{
  background: black;
  color: orange;
  border-radius: 5px;
}
