body{
background: url(images/bg.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
background-size: cover;
}

.general
{
  background-image: url(images/font7.png);
  border: 1px solid white;
  margin: auto;
  padding: 10px 10px;
  height: 100%;
  width: 650px;
  text-align: justify;
}

h1{
  text-align: center;
  text-decoration: underline;
}

h2{
  text-indent: 33px;
  padding-top: 15px;
}

p{
  text-indent: 15px;
}

#unity{
  font-family: courier;
  font-size: 16px;
}

img{
  width: 100%;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th{
  text-align: center;
  background-color: black;
  color : white;
}

tr{
  border-bottom: solid 1px;
}

#dateLTS{
  text-align: center;
}

#LTSok{
  text-align: center;
  background-color: black;
  color: white;
}

.menu
{
  float: left;
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}

button{
  width: 150px;
  border: 1px solid black;
  background: #6d9137;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

button:hover{
  background: black;
  color: orange;
  border-radius: 5px;
}

#glossaire{
  color: red;
  text-decoration: none;
}
